* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin font-30 {
    font-size: 30px;
    font-weight: 900;
}

@mixin font-20 {
    font-size: 20px;
    font-weight: 700;
}

@mixin font-16 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}

@mixin font-12 {
    font-size: 12px;
    font-weight: 700;
}

@mixin font-13 {
    font-size: 13px;
    font-weight: 700;
}

@mixin font-80 {
    font-size: 80px;
    font-weight: 700;
}