@font-face {
  font-family: "Nunito-extralight";
  font-style: normal;
  src: local("Nunito ExtraLight"), local("Nunito-ExtraLight"),
    url(../assets/fonts/Nunito/NunitoSans-Black.ttf) format("truetype");
  font-display: swap;
}
