.navigation-container {
    background-color: $color--text_white;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    &-logo {
        h1 {
            @include font-30;
            color: $brcolor-black;
            font-family: $font-nunito
        }
        p {
            @include font-12;
            color: $brcolor-black;
            font-family: $font-nunito;
            text-transform: uppercase;
        }
    }
    &-item {
        ul {
            display: flex;
            justify-content: space-between;
            line-height: 52.8px;
            li {
                @include font-13;
                list-style-type: none;
                padding: 0 25px;
                a {
                    color: $brcolor-black;
                    text-decoration: none;
                    font-family: $font-nunito;
                    text-transform: uppercase;

                }
            }
        }
    }
}