.container-home {
    padding-top: 76.8px;
    &-carousel {
        &-img_1 {
            position: relative;
            &-overlay {
                z-index: 1;
                background-color: #2222;

            }
            img {
                z-index: 0;
                width: 100%;
                height: calc(100vh - 76.8px);
                opacity: 0.9;
            }
        }
        &-img_2 {
            position: relative;
            img {
                width: 100%;
                height: calc(100vh - 76.8px);
            }
        }
        &-img_3 {
            position: relative;
            img {
                width: 100%;
                height: calc(100vh - 76.8px);
            }
        }
        &-intro {
            text-align: center;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            padding-top: 250px;
            h1 {
                @include font-80;
                color: $color--text_white;
                font-family: $font-old_standard;
            }
            p {
                @include font-13;
                color: $color--text_white;
                font-family: $font-nunito;
                text-transform: uppercase;
            }
        }
    }
    &-booking {
        padding: 0 200px;
        display: flex;
        justify-content: space-between;
        &-item {
            background-color: $brcolor-black_2;
            display: flex;
            flex-basis: 90%;
            justify-content: space-between;
            padding: 48px 0;
            p {
                @include font-12;
                color: $color--text_white;
                text-transform: uppercase;
                font-family: $font-nunito;
                margin-bottom: 10px;
            }
            &-one {
                padding: 0 24px;
            }
            &-two {
                padding: 0 24px;
            }
            &-tree {
                padding: 0 24px;
            }
            &-four {
                padding: 0 24px;
            }
        }
        &-submit {
            flex-basis: 10%;
            button {
                padding: 49px 30px;
                @include font-16;
                text-transform: uppercase;
                font-family: $font-nunito;
                border: none;
                background-color: $brcolor-cream;
                color: $color--text_white;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}


